* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  color: white;
  text-align: center;
}

body {
  background-color: #813d9c;
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  border: 10px solid rgb(136, 108, 132);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;             

  form {
    border-radius: 73px;
    background: #813d9c;
    box-shadow:  38px 38px 100px #34183e,
                 -38px -38px 100px #ce62fa;
    padding: 2.5rem; /* HIER NEU: Sorgt dafür, dass alles innerhalb der Box bleibt */

    .input-container {
      width: 22rem;
      margin-bottom: 1rem;
      
      label {
        margin-bottom: 0.5rem;
        display: block;
      }
      
      input {
        width: 100%;
        height: 2rem;
        border-radius: 0.5rem;
      }
    }
  }
}